@import "../common/section";

#newsletter {
            
    background: radial-gradient($green, $dark-green, $dark-green) no-repeat;
    
    #section-title {
        color : $white;
        &::after { border-color: $white; }
    }   

    
    
    position: relative;    
    $size:20px;
    
    &::before, &::after {
        width: 100%;
        content: '';
        position: absolute;
        left: 0; 
        height: $size;
        background-size: $size 100%;        
        z-index: 1;
        background-position: 0 0;
    }

    &::before {
        top: -$size ;
        background-image: linear-gradient(45deg, $dark-green 25%, transparent 25%), linear-gradient(-45deg, $dark-green 25%, transparent 25%);
    }

    &::after {        
        bottom: - $size;    
        background-image: linear-gradient(135deg, $dark-green 25%, transparent 25%), linear-gradient(225deg, $dark-green 25%, transparent 25%);
    }

    
    
    margin-bottom:50px;
    
    @import "card";
}

