nav#menu_mobile {

    display: none;

    @media screen and (max-width: $mobile) {

        padding:0;
        position: fixed;
        background: radial-gradient($light-grey, $white, $white) no-repeat;
        color: #f5f5f5;
        width: 100%;
        height: 100%;
        transform: translateX(-10%);
        transition: all .2s ease;
        opacity: 0;
        z-index: -1;
        display: block;
        
        margin-top: 50px;
        
       

        &.open{
            transform: scaleY(1);
            opacity: 1;
            transition: all .4s ease;
            overflow: auto;
            z-index: 2;
        }

        
        ul {
            //padding: 0;
            //margin: 0 auto 42px auto;
            list-style-type: none;
            text-align: left;

            li {
                font-size: $size-normal;
                font-family: $main-font;
                text-align: left;
                letter-spacing: 1px;
                padding: 6px 0;
                font-weight: 300;
                text-shadow: 0 1px 1px #000;

                a {
                    color:$black;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }               
            }
        }

    }

}


nav#menu_desktop {

    padding:10px;

    @media screen and (max-width: $mobile) {
        display: none !important;
    }

    ul {

        background-color: #000000a0;
        //border-top: $green 2px solid;
        
        
        padding:0;
        margin: 0;

        font-size: $size-smaller;
        font-weight: 300;
        letter-spacing: 0.5px;
        //outline-color: #fff;

        li {            

            padding: 3px 0 0 0 ;
            list-style: none;
            text-align: center;


            transition-duration: 0.5s;
            position: relative;
            
            &:focus-within,
            &:hover {
                cursor: pointer;
                background-color: $green;
            }

            &:hover > ul,
            ul:focus,
            ul:hover {
                visibility: visible;
                opacity: 1;
                display: block;
                margin-top: 0px;
            }            

            ul {
                visibility: hidden;
                opacity: 0;
                display: none;
                animation: fadeIn 1.5s ease;
                

                margin-top: -400px;
                
                width: 100%;
                position: absolute;
                transition: margin 1000ms ease-in-out,  all 0.5s ease-in-out;        
                
                //left: 0;
            }

            a {               
                color:white;
                text-decoration: none;
                text-transform: uppercase;

                
                // border-radius: $radius;

                // &:hover { }                             
            }
        }
        

    }

    
    /* IE 11 won't get this, but at least the top-level menus will work */
    ul li:focus-within > ul {
        visibility: visible;
        opacity: 1;
        display: block;
    }

    a {
        outline: none;
    }
    

}