@import "common/section";

section#news {

    //height: 60vh;
    z-index: 1;

    &.hidden {
        display: none;
    }

    
    #news-carousel {

        height: 100%;

        @import "news_card";
    }

    #section-title {
        color : $dark-red;
        &::after { border-color: $dark-red; }
    }
    
    .swiper-pagination-bullet-active{
        background-color: $dark-red;
    }
    
}
 


                  