<div id="home-info-box">

    <div id="logo"><img src="assets/logo.svg"></div>

    <div id="info-messe" class="info-box grid">
        <div class="col col-2 info-box-icon"><img src="assets/eucharist.svg"></div>
        <div class="col col-10 info-box-content">
            <h3>ORARIO DELLE MESSE</h3>
            <p>08:30 // 10:00 // 11:30 // 18:00</p>
            <h4>FERIALE</h4>
            <p>08:30 // 18:00</p>
        </div>
    </div>

    <div id="info-ufficio" class="info-box grid">
        <div class="col col-2 info-box-icon"><img src="assets/rubber-stamp.svg"></div>
        <div class="col col-10 info-box-content">
            <h3 class="info-box-content-title">UFFICIO PARROCCHIALE</h3>
            <p class="info-box-content-text">Dal martedì al venerdì dalle ore 17:00 alle ore 18:30</p>
        </div>
    </div>

</div>
    