<div id="topbar" class="grid">
    
    <div class="col col-6 col-md col-middle"></div>
    <div class="col col-6 col-md col-middle col-align-top">
        {% include '/markup/header/components/menu.twig' %}       
    </div>
    
</div>