@import "../common/section";

#omelie {

    padding-top:50px;
    z-index: 1;
    background: radial-gradient(#000000ed, #000000f9, #000000fc, black) no-repeat;
    background-size: 100% 130%;
    background-position: center;
    
    position: relative;

    #section-title {
        color : $white;
        &::after { border-color: $white; }
    }   

    overflow: hidden;
    
    &-content {
        
        @media screen and (max-width: $mobile ) {
            width: 100%;

        }   
        height: 100%;
        
        &-image {
            height: 350px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: -70px -20px;
        }
    }   


    &::before { 
        content: '';
        width: 100%;
        height: 40px;

        background-color: $gold; 
               
        position: absolute;
        
        top:0px;
        transform: skew(0, -1.5deg);
        transform-origin: top left;
        
    }   

    input,
        button {

            padding: 6px 10px 4px 10px;
            border: none;
            border-radius: 5px;
            font-family: $main-font;
            font-size: $size-normal;
            font-weight: 300;
            color: $black;
            background-color: $white;
            letter-spacing: 0.3px;
            outline: none;
            
        }

    form { 
        width: 50%;
        height: 40px;
        padding: 30px 0;

        @media screen and (max-width: $mobile ) {
            width: 100%;
        }

        position:relative;

        input, button {                
             position:absolute;
        }
        input {
            width: 100%;
        }
        button {
            right:0;
            background-color: $dark-azure;
            color: $white;
            border-radius: 0 5px 5px 0;

            &:hover{
                background-color: $gold;
                color: $white;
            }
        }


    }


    
    @import "card";
    
}

