<section id="omelie" class="grid grid-center">
    
    <div id="section-title" class="col col-12">
        <h2>OMELIE</h2>
    </div>
        
    <div id="omelie-content" class="grid grid-center col-10">

        <div id="omelie-content-image" class="col-5 col-bottom"></div>
        <div id="omelie-content-card" class="col-7">
            {% include '/markup/omelie/card.twig' %}
        </div>
        
    </div>
</section>